<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <a class="logo" routerLink="/">
      <img src="assets/img/SongsLovers.png" alt="SongsLovers logo"/>
      <span>SongsLovers</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<footer>
  <div class="wrapper">
    <div class="description">
      <h3 class="mat-h3">SongsLovers</h3>
      <p class="mat-body">SongsLovers è un'applicazione sviluppata da <a href="http://github.com/nellocarotenuto" target="_blank">Aniello
        Carotenuto</a> e <a href="http://github.com/caggian" target="_blank">Gianluca Caggiano</a> nel contesto del corso di
        &quot;Integrazione Dati su Web&quot; presso l'Università degli Studi di Salerno.</p>
      <p class="mat-body"><a href="http://github.com/nellocarotenuto/SongsLovers" target="_blank">Codice sorgente</a></p>
    </div>
    <div class="sources">
      <h3 class="mat-h3">Fonti</h3>
      <ul>
        <li><a href="http://genius.com" target="_blank">Genius</a></li>
        <li><a href="http://livenation.it" target="_blank">Livenation</a></li>
        <li><a href="http://rockol.it" target="_blank">Rockol</a></li>
        <li><a href="http://rollingstone.it" target="_blank">RollingStone</a></li>
        <li><a href="http://soundsblog.it" target="_blank">SoundsBlog</a></li>
        <li><a href="http://spotify.com" target="_blank">Spotify</a></li>
        <li><a href="http://ticketmaster.it" target="_blank">TicketMaster</a></li>
        <li><a href="http://ticketone.it" target="_blank">TicketOne</a></li>
        <li><a href="http://vivoconcerti.it" target="_blank">VivoConcerti</a></li>
        <li><a href="http://it.wikipedia.org" target="_blank">Wikipedia</a></li>
      </ul>
    </div>
  </div>
</footer>
