mat-toolbar {
  display: flex;
  align-items: center;
}

mat-toolbar a {
  color: #ffffff;
  text-decoration: none;
}

mat-toolbar a.logo {
  display: flex;
  align-items: center;
}

mat-toolbar a.logo > img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

main {
  width: 1024px;
  padding: 40px;
  flex-grow: 1;
}

footer {
  padding: 20px;
  background: #3f51b5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

footer a {
  text-decoration: none;
  color: #ff4081;
}

footer div.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

footer div.description {
  max-width: 768px;
}

footer div.sources {
  margin-left: 40px;
}

footer div.sources ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1280px) {

  main {
    width: 768px;
  }

}

@media screen and (max-width: 808px) {

  main {
    width: 576px;
  }

}

@media screen and (max-width: 616px) {

  main {
    width: 432px;
  }

}
