mat-spinner {
  margin: 20px auto;
}

h1.message {
  text-align: center;
  margin: 20px auto;
}

div.artist-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

div.artist-container > div.artist-details {
  display: flex;
  align-items: center;
  padding: 40px;
}

div.artist-container > div.artist-details > div.cover-container > img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
}

div.artist-container > div.artist-details > div.details-container {
  margin-left: 40px;
}

div.artist-container > div.artist-details > div.details-container > h1.name {
  margin: 0;
}

div.artist-container > div.artist-details > div.details-container > h4.social a {
  color: #ff4081;
  text-decoration: none;
}

div.artist-container > div.artist-details > div.details-container > h4.year a.facebook > mat-icon {
  font-size: 1.5em;
  width: auto;
  height: auto;
}

div.artist-container > div.artist-details > div.details-container > h4.year a.twitter > mat-icon {
  font-size: 1.5em;
  width: auto;
  height: auto;
}

div.artist-container > div.artist-details > div.details-container > h4.year a.instagram > mat-icon {
  font-size: 1.5em;
  width: auto;
  height: auto;
}

div.artist-container > div.artist-details > div.details-container > h3.bio {
  margin-bottom: 0;
}

div.artist-container > div.artist-details > div.details-container > h3.bio > a {
  color: #ff4081;
  text-decoration: none;
}

div.artist-container > mat-tab-group mat-nav-list {
  padding: 0;
}

p.gray {
  color: #9e9e9e;
}

mat-list.concerts mat-list-item a.mat-button:last-child {
  margin-left: 6px;
}

mat-nav-list a.mat-list-item {
  height: 88px;
}

mat-nav-list img.mat-list-avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
