<mat-spinner *ngIf="status.artist == 'loading'"></mat-spinner>

<h1 *ngIf="status.artist == 'not-found'" class="mat-h1 message">Artista non trovato</h1>

<h1 *ngIf="status.artist == 'error'" class="mat-h1 message">Qualcosa è andato storto</h1>

<div class="artist-container mat-elevation-z2" *ngIf="artist">

  <div class="artist-details">

    <div class="cover-container">
      <img src="{{artist.picture || 'assets/img/placeholder.png'}}" alt="{{artist.name}}" />
    </div>

    <div class="details-container">
      <h1 class="mat-display-1 name">{{artist.name}}</h1>
      <h4 class="mat-h4 social">
        <ng-container *ngIf="artist.facebook">
          <a href="https://www.facebook.com/{{artist.facebook}}" title="Pagina Facebook" target="_blank" class="facebook">Facebook</a>&nbsp;
        </ng-container>
        <ng-container *ngIf="artist.twitter">
          <a href="https://www.twitter.com/{{artist.twitter}}" title="Pagina Twitter" target="_blank" class="twitter">Twitter</a>&nbsp;
        </ng-container>
        <ng-container *ngIf="artist.instagram">
          <a href="https://www.instagram.com/{{artist.instagram}}" title="Pagina Instagram" target="_blank" class="instagram">Instagram</a>&nbsp;
        </ng-container>
      </h4>
      <h3 class="mat-h3 bio" *ngIf="artist.bio">
        <p>{{artist.bio}} </p>
        <a href="{{artist.wikipedia}}" title="Wikipedia" target="_blank">Wikipedia</a>
      </h3>
    </div>

  </div>

  <mat-divider></mat-divider>

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Album">

      <mat-spinner *ngIf="status.albums == 'loading'"></mat-spinner>

      <mat-nav-list *ngIf="albums">

        <a mat-list-item *ngFor="let album of albums" routerLink="/album/{{album.id}}">

          <img matListAvatar src="{{album.cover || 'assets/img/placeholder.png'}}" alt="{{album.name}} cover" />

          <h4 matLine>{{album.name}}</h4>
          <p matLine class="gray">
            <span >{{album.date | date : 'yyyy'}}</span>
          </p>

        </a>

      </mat-nav-list>

      <mat-nav-list *ngIf="!albums">
        <h1 class="mat-h1 message">Nessun album disponibile</h1>
      </mat-nav-list>

    </mat-tab>

    <mat-tab label="News">

      <mat-spinner *ngIf="status.news == 'loading'"></mat-spinner>

      <mat-nav-list *ngIf="news.news.length == 0">
        <h1 class="mat-h1 message">Nessuna notizia disponibile</h1>
      </mat-nav-list>

      <mat-nav-list *ngIf="news.news.length != 0">

        <a mat-list-item *ngFor="let item of news.news" href="{{item.link}}" target="_blank">

          <img matListAvatar src="{{item.picture || 'assets/img/placeholder.png'}}" alt="{{item.title}}" />

          <h4 matLine class="mat-h4">{{item.title}}</h4>

          <p matLine class="gray">
            <span>{{item.date | date : 'dd/MM/yyyy'}}</span>
          </p>
          <p matLine class="gray">
            <span>{{item.source}}</span>
          </p>

        </a>

      </mat-nav-list>

    </mat-tab>

    <mat-tab label="Concerti">

      <mat-spinner *ngIf="status.concerts == 'loading'"></mat-spinner>

      <mat-list *ngIf="concerts.concerts.length !== 0" class="concerts">

        <mat-list-item *ngFor="let item of concerts.concerts" >

          <mat-icon mat-list-icon aria-hidden="false" aria-label="Event icon">event</mat-icon>

          <h4 matLine class="mat-h4">{{item.place}}</h4>
          <p matLine class="gray">
            <span>{{item.date | date : 'dd/MM/yyyy'}}</span>
          </p>

          <p *ngFor="let ticket of item.tickets">
            <a mat-button color="accent" href="{{ticket.link}}" target="_blank">{{ticket.seller}}</a>
          </p>

        </mat-list-item>

      </mat-list>

      <mat-nav-list *ngIf="concerts.concerts.length === 0">
        <h1 class="mat-h1 message">Nessun concerto disponibile</h1>
      </mat-nav-list>

    </mat-tab>

  </mat-tab-group>

</div>
